<%- include("./includes/head", {pageTitle: "Login"}) %>
</head>
<body>
<%- include("./includes/header") %>
<main>
    <h1>Something went wrong.</h1>
    <p>Unfortunately, Something went wrong at this time, Please try again later.</p>
    <p><a href="/" class="btn">Back To Safety</a></p>
</main>
<%- include("./includes/footer") %>